@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-image: url('https://cdn.wallpapersafari.com/60/0/FP3nRz.jpg');
  color: brown;
  text-align: center;
  margin-top: 100px;
}
.navbar{
  max-height: 6rem;
}
.nav-item{
  display: flex;
  justify-content: center;
  margin: .5rem;
}
.form-control{
  margin: 1rem;
  max-height: 3rem;
}

.logout{
  display: flex;
  justify-content: center;
  max-height: 3rem;
  margin-top: 1rem;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;

  #form-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: transparent;
    .outside-card{
      width: 35rem;
      margin-top: 10rem;background-color: transparent;
      padding: .3rem;
      border-color: yellow;
      .middle-card{
        width: 35rem;
        padding: .3rem;
        background-color: transparent;
        border-color: green;
        .order-card{
          border-color: red;
          background-color: transparent;
          .form-group{
            display: flex;
            flex-direction: column;
            min-width: 25rem;
            max-width: 90%;
            padding: .5rem;
            padding-left: 1rem;
          }
          .btn-div{
            align-items: center;
            margin-top: 1rem;
            .btn{
              margin: .2rem;
            }
          }
        } 
      }
    }
  }

  #shop {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    justify-content: center;
    .outside-card{
      background-color: transparent;
      margin: .2rem;
      padding: .1rem;
      border-color: yellow;
      .middle-card{
        background-color: transparent;
        border-color: green;
        .card {
          width: 300px;
          margin: 5px;
          background-color: transparent;
          border-color: red;
          .btn{
            margin: .1rem;
          }
        }
      }
    }
      .list-group-item {
        background-color: transparent;
        color: white;
      }
  }

  #menuItemView {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  .del-btn-card{
    max-width: 10rem;
    max-height: 5rem;
    background-color: transparent;
    border-color: red;
  }
  .outside-card {
    width: 300px;
    margin: 5px;
    padding:.1rem;
    background-color: transparent;
    border-color: yellow;
    .middle-card{
      padding:.1rem;
      background-color: transparent;
      border-color: green;
      .card{
        background-color: transparent;
        border-color: red;
        .btn-div{
          .btn{
            margin: .2rem;
          }
        }
      }
    }
  }
    .list-group-item {
      background-color: transparent;
      color: white;
    }
  }
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  .outside-card{
    background-color: transparent;
    margin-top: 10rem;
    max-height: 21.5rem;
    max-width: 36rem;
    padding: .3rem;
    border-color: yellow;
    .middle-card{
      background-color: transparent;
      border-color: green;
    .button-card {
      display: flex;
      justify-content: center;
      max-width: 35rem;
      padding-right: 1rem;
      background-color: transparent;
      border-color: red;
     
      .btn-card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        .hs-btn {
        max-width: 20rem;
        max-height: 10rem;
        margin: 1rem; 
        }
      }
    }
  }
}
}
.revenuePage{
  color: white;
}
.revenueHeader{
  margin-top: 50px;
  margin-bottom: 50px;
}
.totalRevenueHeader{
  margin-bottom: 50px;
}

#cart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  .outside-card{
    background-color: transparent;
    margin-top: 1rem;
    max-height: 21.5rem;
    max-width: 36rem;
    padding: .3rem;
    border-color: yellow;
    .middle-card{
      background-color: transparent;
      border-color: green;
    .card {
      display: flex;
      justify-content: center;
      max-width: 35rem;
      padding-right: 1rem;
      background-color: transparent;
      border-color: red;
    }
    }
  }
}